
<div *ngIf = loginFlag>
  <p>Signin Form</p>
    <form [formGroup]="loginRef" (ngSubmit) = "checkUser()" >
        <label>UserName</label>
        <input type="text"  formControlName = "user"  /><br/>
        <label>Password</label>
        <input type="password" formControlName = "pass" /><br/>
        <input type="submit" value="submit"  [disabled]="!loginRef.valid"/>
         <input type="reset" value="reset"/>
    </form>
    <input type="button" value="Register" (click)="register()">
    <br/>
    {{msg}}
  
    </div>


<div * ngIf = "RegisterFlag">
<form [formGroup] = "signup" (ngsubmit)="register()">
<h2>Registration</h2>

<label>First Name </label>
<input type="text"  formControlName = "fname"   /><br/>
<label>Last Name </label>
<input type="text"  formControlName = "lname"   /><br/>
<label>UserName </label>
<input type="text" formControlName ="usrset"   /><br/>
<label>Password </label>
<input type="password" formControlName="pwdset"  /><br/>

<input type ="submit" value = "Register"/>
</form>
<input type="button" value="Login" (click)="login()">
</div>





<div * ngIf = porfolioFlag> 
    <form [formGroup]="contactform" (ngsubmit) = "SaveData()">
       <h2> Contacts </h2>
       <p>Welcome {{loginRef.value.user}} </p>
       <label>Name: </label>
       <input type="text" formControlName = "Name"    /><br/>
       <label>Phone #: </label>
       <input type="text" formControlName = "Phone"  /><br/>
    </form>
       <table>
           <tr>
               <th>Name</th>
               <th>Phone Number</th>
           </tr>
           <tr *ngFor = "let contacts of contacts">   
                   <td>{{contacts.cname}}</td>
                  <td>{{contacts.phone}}</td>
           </tr>
       </table>
       <input type ="submit" value = "Save" />
       </div>
<!--<a href = "tdf-login-page.component.html">Login </a>-->