<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<form>

<h1> Tasks to Complete </h1>
<label> ID: </label>
<input matInput id = "ID" formControlName="id" placeholder="Enter ID"  /> 

<label> Name: </label>
<input matInput id = "name" formControlName = "name" placeholder = "Enter Name" />

<label> Task: </label>
<input matInput id = "task" formControlName = "task" placeholder="enter task" />


<label> Dead Line: </label>
<input matInput= "date" id = "DL" formControlName="DeadLine" placeholder = "DD/MM/YYYY" /> 

<button (click) = "addTask()"> Add New Task </button>
<!--<button (click) = "addTask(id.value)"> Add New Task </button> -->
</form>

<div id = "div">
<table>
  <tr>
  <th> ID </th>
  <th> Name</th>
  <th> Task </th>
  <th> Deadline</th>
  </tr>
<td> </td>
</table>
</div>

