<p>customer works!</p>
<div>
     <form [formGroup]="customerRef" (ngSubmit)="storeInfo()">
         <label>customer Id</label>
         <input type="text" formControlName="cid"/>
         <label>customer Name</label>
         <input type="text" formControlName="cid"/>
         <label>customer Id</label>
         <input type="text" formControlName="cid"/>
         <input type="submit" value="Store Customer info" />
         <input type="reset" value ="Reset"/>
     </form>
     <br/>
     <span style="color: red">{{storeMsg}}</span>
     <hr />
     <table border="1">
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Customer Age</th>
        </tr>
        <tr *ngFor="let customer of customers">
            <td>{{customer.cid}}</td>
            <td>{{customer.cname}}</td>
            <td>{{customer.age}}</td>
            <td><input type = "button" value = "Delete" (click)="deleteRec(customer.cid)"/></td>
            <td><input type = "button" value = "Update" (click)="updateAge(customer.cid, customer.age)"/></td>
        </tr>
</table>
<br/>
<span style="color:red">{{deleteMsg}}</span>
<hr/>
<div *ngIf="flag">
     <form>
         <label>Customer Id</label>
         <input type="text" [(ngModel)]="cid" name="cid"/><br/>
         <label>Customer Age</label>
         <input type="text" [(ngModel)]="age" name="age"/><br/>
         <input type = "submit" value = "Update Age"/>
         <input type = "reset" value = "reset"/>
     </form>

</div>

</div>